.seguro-bike-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0px 120px var(--cor-0),inset 0px -120px var(--cor-12);
}

.seguro-bike{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.seguro-bike-imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.seguro-bike-conteudo{
    padding-top: 180px;
    padding-bottom: 180px;
}

.seguro-bike h2{
    margin-bottom: 32px;
}

.seguro-bike p{
    margin-bottom: 20px;
}

@media(max-width:800px){
    .seguro-bike-bg{
        box-shadow: inset 0px -60px var(--cor-12);
    }
    .seguro-bike{
        grid-template-columns: 1fr;
    }
    .seguro-bike-imagem{
        height: 300px;
    }
    .seguro-bike-conteudo{
        grid-row: 1;
        padding-bottom: 0px;
        padding-top: 40px;
    } 
}